@model InventoryManager2.ViewModels.CreateUpdateItemVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-8 mx-auto">
        <form asp-action="Edit" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 col-6">
                <label asp-for="ItemDetail.Price" class="control-label"></label>
                <input asp-for="ItemDetail.Price" class="form-control" type="number" />
                <span asp-validation-for="ItemDetail.Price" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 col-6">
                <label asp-for="ItemDetail.Quantity" class="control-label"></label>
                <input asp-for="ItemDetail.Quantity" class="form-control" />
                <span asp-validation-for="ItemDetail.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 col-4">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="ViewBag.StatusList"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 col-4">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 col-4">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.Suppliers"></select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 col-4">
                <label asp-for="ItemDetail.Color" class="control-label"></label>
                <input asp-for="ItemDetail.Color" class="form-control" />
                <span asp-validation-for="ItemDetail.Color" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 col-4">
                <label asp-for="ItemDetail.ManufactureDate" class="control-label"></label>
                <input asp-for="ItemDetail.ManufactureDate" class="form-control" />
                <span asp-validation-for="ItemDetail.ManufactureDate" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 col-4">
                <label asp-for="ItemDetail.ExpiryDate" class="control-label"></label>
                <input asp-for="ItemDetail.ExpiryDate" class="form-control" />
                <span asp-validation-for="ItemDetail.ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ItemDetail.CountryOfOrigin" class="control-label"></label>
                <input asp-for="ItemDetail.CountryOfOrigin" class="form-control" />
                <span asp-validation-for="ItemDetail.CountryOfOrigin" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ItemDetail.Manufacturer" class="control-label"></label>
                <input asp-for="ItemDetail.Manufacturer" class="form-control" />
                <span asp-validation-for="ItemDetail.Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 col-4">
                <label asp-for="ItemDetail.Weight" class="control-label"></label>
                <input asp-for="ItemDetail.Weight" class="form-control" type="number" />
                <span asp-validation-for="ItemDetail.Weight" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 col-4">
                <label asp-for="ItemDetail.Dimensions" class="control-label"></label>
                <input asp-for="ItemDetail.Dimensions" class="form-control" />
                <span asp-validation-for="ItemDetail.Dimensions" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 col-4">
                <label asp-for="ItemDetail.Material" class="control-label"></label>
                <input asp-for="ItemDetail.Material" class="form-control" />
                <span asp-validation-for="ItemDetail.Material" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <!-- Custom Fields Section -->
            <div class="form-group mt-2">
                <div id="customFieldsContainer">
                    @for (int i = 0; i < Model.CustomFields?.Count; i++)
                    {
                        <div class="custom-field" data-index="@i">
                            <div class="form-group">
                                <input type="hidden" asp-for="CustomFields[i].DataType" />
                                <input type="hidden" asp-for="CustomFields[i].Name" />
                                <label asp-for="CustomFields[i].Value" class="control-label">@Model.CustomFields[i].Name</label>
                                <input asp-for="CustomFields[i].Value" class="form-control" />
                                <span asp-validation-for="CustomFields[i].Value" class="text-danger"></span>
                            </div>
                            <button type="button" class="btn btn-danger remove-custom-field">Remove</button>
                        </div>
                    }
                </div>
                <button type="button" class="btn btn-success mt-2" id="addCustomField">Add Custom Field</button>
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('#addCustomField').click(function () {
                const index = $('#customFieldsContainer .custom-field').length;
                const newField = `
                            <div class="custom-field" data-index="${index}">
                                <input type="hidden" name="CustomFields[${index}].Id" value="0" />
                                <div class="form-group">
                                    <label for="CustomFields_${index}__Name" class="control-label">Name</label>
                                        <input name="CustomFields[${index}].Name" class="form-control" id="CustomFields_${index}__Name" />
                                    <span class="text-danger" data-valmsg-for="CustomFields[${index}].Key" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group">
                                    <label for="CustomFields_${index}__DataType" class="control-label">DataType</label>
                                        <input name="CustomFields[${index}].DataType" class="form-control" id="CustomFields_${index}__DataType" />
                                    <span class="text-danger" data-valmsg-for="CustomFields[${index}].DataType" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group">
                                    <label for="CustomFields_${index}__Value" class="control-label">Value</label>
                                    <input name="CustomFields[${index}].Value" class="form-control" id="CustomFields_${index}__Value" />
                                    <span class="text-danger" data-valmsg-for="CustomFields[${index}].Value" data-valmsg-replace="true"></span>
                                </div>
                                <button type="button" class="btn btn-danger remove-custom-field">Remove</button>
                            </div>`;
                $('#customFieldsContainer').append(newField);
            });

            $(document).on('click', '.remove-custom-field', function () {
                $(this).closest('.custom-field').remove();
                $('#customFieldsContainer .custom-field').each(function (index) {
                    $(this).attr('data-index', index);
                    $(this).find('input, label, span').each(function () {
                        const oldName = $(this).attr('name');
                        const oldId = $(this).attr('id');
                        if (oldName) {
                            const newName = oldName.replace(/\[\d+\]/, `[${index}]`);
                            $(this).attr('name', newName);
                        }
                        if (oldId) {
                            const newId = oldId.replace(/_\d+__/g, `_${index}__`);
                            $(this).attr('id', newId);
                        }
                    });
                });
            });
        });
    </script>
}
